/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background:hsl(320, 88%, 91%);
    color: #141414;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background: #050505;
    padding: 10px;
}

nav a {
    color: rgb(250, 218, 239);
    text-decoration: none;
    padding: 0 15px;
}

.container {
    width: 80%;
    margin : 30px auto;
    overflow: hidden;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.berita-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.berita-item h2 {
    color: #000000;
    margin: 0;
}

.tanggal {
    font-size: 0.8rem;
    color: #777;
}

/* Style untuk Form & Tabel */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

button {
    background: #070707;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}